.modal {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: var(--modal-width);
  background-color: white;
  border-radius: var(--spacer-1);
}

.modal-header {
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: var(--spacer-1) var(--spacer-2);
  font-size: 1.2em;
}

.modal-body {
  padding: var(--spacer-1);
}